progress{
    accent-color: blueviolet;
}
    body {
    background-attachment: scroll;    
    background-size: cover;
 background-repeat: no-repeat;
    }
body{
    background-image: url(https://cutewallpaper.org/21/background-image/Bokeh-lights-and-glitter-background-Vector-Free-Download.jpg),url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTt_gluIS-JOgoey5Et8zZqXSBvHgrhhrnVaJfYtdDEKjf4onnw_rK33LALUCIILAIiHi4&usqp=CAU);
 background-origin: 
}



